.hamburgerIcon {
  display: none;
  z-index: 1;

  div {
    width: 3rem;
    height: 4px;
    background: var(--yellow-500);
    transition: 0.2s;

    & + div {
      margin-top: 5px;
    }
  }

  &.open {
    position: fixed;

    .line1 {
      transform: translate(0, 9px) rotate(45deg);
    }

    .line2 {
      opacity: 0;
      visibility: hidden;
    }

    .line3 {
      transform: translate(0, -9px) rotate(-45deg);
    }
  }

  @media screen and (max-width: 720px) {
    display: block;
  }
}
